---
layout: default
format: frontpage
---


<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t50">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->

<br>




<div class="row t40" >

    <div class="row">


        <ul id="mainTabs" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#problem">Problem</a></li>
            <li><a data-toggle="tab" href="#solution">Solution</a></li>
            <li><a data-toggle="tab" href="#explanation">Explanation</a></li>
        </ul>

        <div class="tab-content">
            <div id="problem" class="tab-pane fade in active">
    {% include _activecode.html id="prob" lang="python" code="
# Problem:
# Given a string of opening and closing parentheses, check whether it’s balanced.

def isBalanced(expr):
    pass

# Test Cases:
print isBalanced('()()(()))')
" %}
            </div>
            <div id="solution" class="tab-pane fade">
    {% include _activecode.html id="sol" lang="python" code="
# Problem:
# Given a string of opening and closing parentheses, check whether it’s balanced.

def isBalanced(expr):
    if len(expr)%2!=0:
        return False
    opening=set('([{')
    match=set([ ('(',')'), ('[',']'), ('{','}') ])
    stack=[]
    for char in expr:
        if char in opening:
            stack.append(char)
        else:
            if len(stack)==0:
                return False
            lastOpen=stack.pop()
            if (lastOpen, char) not in match:
                return False
    return len(stack)==0

# Test Cases:
print isBalanced('()()(()))')
" %}
            </div>
            <div id="explanation" class="tab-pane fade">
                <p>
                To solve this...
                </p>
            </div>
        </div>





    <!-- Errors -->
    <div id="errors"></div>
</div>
</div>



{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}




{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:10 %}
            <h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='10' offset='0' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->


{% if page.callforaction %}
<div class="row t60 b60">
    <div class="small-12 text-center columns">
        <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
    </div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}
